
{% set collector = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['contrail-openstack-analytics'],
        'services': ['supervisor-analytics']
    },
    'RedHat': {
        'pkgs': ['contrail-openstack-analytics'],
        'services': [supervisor-analytics]
    },
}, merge=salt['pillar.get']('opencontrail:collector')) %}

{% set compute = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['contrail-vrouter', 'contrail-openstack-vrouter', 'contrail-fabric-utils'],
        'services': ['contrail-vrouter', 'supervisor-vrouter']
    },
    'RedHat': {
        'pkgs': ['contrail-vrouter', 'contrail-openstack-vrouter', 'contrail-interface-name', 'contrail-fabric-utils', 'contrail-openstack-storage'],
        'services': ['contrail-vrouter', 'supervisor-vrouter']
    },
}, merge=salt['pillar.get']('opencontrail:compute')) %}

{% set config = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['contrail-openstack-config'],
        'services': ['contrail-api', 'contrail-schema', 'contrail-discovery', 'contrail-svc-monitor', 'ifmap', 'supervisor-config']
    },
    'RedHat': {
        'pkgs': ['contrail-openstack-config'],
        'services': ['contrail-api', 'contrail-schema', 'contrail-discovery', 'contrail-svc-monitor', 'ifmap', 'supervisor-config']
    },
}, merge=salt['pillar.get']('opencontrail:config')) %}

{% set control = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['contrail-openstack-control'],
        'services': ['contrail-control', 'supervisor-control']
    },
    'RedHat': {
        'pkgs': ['contrail-openstack-control'],
        'services': ['contrail-control', 'supervisor-control']
    },
}, merge=salt['pillar.get']('opencontrail:control')) %}

{% set database = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['contrail-openstack-database'],
        'services': ['supervisord-contrail-database']
    },
    'RedHat': {
        'pkgs': ['contrail-openstack-database'],
        'services': ['supervisord-contrail-database']
    },
}, merge=salt['pillar.get']('opencontrail:database')) %}

{% set web = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['contrail-openstack-webui'],
        'services': ['supervisor-webui']
    },
    'RedHat': {
        'pkgs': ['contrail-openstack-webui'],
        'services': ['supervisor-webui']
    },
}, merge=salt['pillar.get']('opencontrail:web')) %}


