[
    
    {rabbit, [{vm_memory_high_watermark, 0.8},
              {memory_alarms, true},
              {disk_free_limit, 50000000},
              {cluster_partition_handling, pause_minority},
              {cluster_nodes, {['rabbit@network1'], disc}},
              {tcp_listeners, [5672]}
             ]
    }
].
